@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    background-color: #7068FF;
    font-family: Fredoka;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

button {
    background: #E87D47;
    color: #FFF;
    border-radius: 10px;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 23pt;
}

.disabled {
    color: #FFF;
}

.stats {
    color: #FFF;
    font-size: 19pt;
}

.board-container {
    position: relative;
}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 30px 55px rgb(33 33 33 / 25%);
    background: #E87D47;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 25px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #FF5B73;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 85pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #7068FF;
}

.icon {
	border-radius: 50%;
}
